[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mergenstudio"]
	path = mergenstudio
	url = https://github.com/cran/mergenstudio
